body {
    background-color: hsl(0, 0%, 86%);
}

.labels {
    display: flex;
    align-items: center;
    justify-content: center;
}

.day, .month {
    margin-right: 25%;
}

input {
    width: 16%;
}

.arrow {
    background-color: hsl(259, 100%, 65%);
    cursor: pointer;
}

.container {
    background-color: hsl(0, 0%, 100%);
}